<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pantchayan.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="BUkha"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main_page" />
        <activity android:name=".tuck_shop" />
        <activity android:name=".bmi" />
        <activity android:name=".Login_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Diet" />
        <activity android:name=".snack_counters" />
        <activity android:name=".mess"></activity>
    </application>

</manifest>